.listDiv 
{
    margin: -10px;
    padding: 0;
    text-align: center;
}


.listDiv ul li
{
    margin:0;
    padding:0;
    display:inline;
}

.aboutMe h2
{
    padding:0;
    margin:0;
    text-align:center;
}

.aboutMe p
{
    padding:0;
    margin:0;
    text-align:center;
}

ul
{
    font-family:Arial,sans-serif;
}

hr
{
    width:30%;
    text-align:left;
    margin-left:0;
}

img
{
    float:right;
    display:inline-block;
    margin-left:auto;
    height:50%;
    width:25%;
    margin-top:50px;
    margin-bottom:auto;
}

table, th, td
{
    border: 1px solid;
    text-align:center;
    padding:5px;
}

th.padding 
{
    padding-top:20px;
    padding-bottom:20px;
}

#color tr:nth-child(even)
{
    background-color:white;
    color:black;
}

#color tr:nth-child(odd)
{
    background-color:black;
    color:white;
}

.navDiv tr
{
    background-color:gray;
}

.right
{
    margin-left:auto;
    right:0px;
    margin-top:-100px;
}

.navDiv a:hover
{
    background:white;
}
.navDiv a:visited
{
    color:black;

}

.navDiv a:link
{
    color:black
}

.quoteDiv p
{
    text-align:center;
    padding:0;

}

.webDiv tr {
    background-color: gray;
}

.webDiv a:hover {
    background: white;
}

.webDiv a:visited {
    color: black;
}

.webDiv a:link {
    color: black
}
.webDiv .right {
    margin-left:0;
    margin-right:auto;
    margin-top:50px;

}

ul li:hover.ex
{
    color:red;
}

.starwars 
{
    color:red;
    font-weight:bold;
}
.gsu
{
    color:red;
    font-weight:bold;
}

